*{    transition: all;
    transition-duration: 800ms;
    scroll-behavior: smooth;

}


html,
body {
  height: 100%;
}
 
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #c2b6ff, #c8e4ff);
}
 
.navbar{
    color: #329ad6!important;
    padding: 0 !important;
    z-index: 999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar a{

  font-weight:500;

}
li:hover{

    box-shadow: 0 0 20px;


}

 
.quiz-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  width: 70%;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
 
.question {
  background-color: #329ad6;
  color: white;
  font-size: 24px;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
 
.btn {
  background-color: #329ad6;
  color: white;
}
.answer {
  width: 100%;
  margin-right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
 
.fa-instagram {
  background-image: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
  color: transparent;
  background-clip: text;
  font-size: 60px;
}
 
.fa-soundcloud {
  color: #ff5500;
  font-size: 60px;
}
 
.fa-chalkboard {
  font-size: 50px;
  color: #3a6d58;
}
#summaryContainer {
  display: none;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  width: 62%;
  border-radius: 15px;
  margin-top: 20px;
  color: white;
}
.summary-item {
  padding: 15px;
  margin: 30px;
  border: solid white 1px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.summary-correct {
  background-color: #5cd187;
  border-radius: 15px;
}
 
.summary-wrong {
  background-color: #df6666;
  border-radius: 15px;
}
 
footer {
  margin-top: 90px;
  font-weight: 500;
  font-size: 15px;
  background-color: #272727;
  color: #999999;
}
 
footer i:hover {
  color: #cecdcd;
}
 
footer a {
  text-decoration: none;
  color: #999999;
  font-size: 20px;
}
 
footer a:hover {
  color: #cecdcd;
}
 
footer img {
  max-height: 30px;
}
 
@media (max-width: 750px) {
  .quiz-card {
    width: 100%;
  }
  #summaryContainer{
    width: 95%;
  }
}
@media (hover: hover) {
  .btn:hover {
    background-color: #cddbf1;
    transition: all 0.3s;
  }
}
 